<div id="carousel-{data.uid}" class="container carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-indicators">
        <f:for each="{data.slides}" as="slide" iteration="i">
            <button type="button"
                    data-bs-target="#carousel-{data.uid}"
                    data-bs-slide-to="{i.index}"
                    class="{f:if(condition: i.isFirst, then: 'active')}"
                    aria-current="{f:if(condition: i.isFirst, then: 'true')}"
                    aria-label="Slide {i.cycle}">
            </button>
        </f:for>
    </div>
    <div class="carousel-inner">
        <f:for each="{data.slides}" as="slide" iteration="i">
            <div class="carousel-item {f:if(condition: i.isFirst, then: 'active')}">
                <f:if condition="{slide.link}">
                    <f:then>
                        <f:link.typolink parameter="{slide.link}">
                            <f:image image="{slide.image.0}" class="d-block w-100" alt="{slide.caption}" />
                        </f:link.typolink>
                    </f:then>
                    <f:else>
                        <f:image image="{slide.image.0}" class="d-block w-100" alt="{slide.caption}"/>
                    </f:else>
                </f:if>
                <f:if condition="{slide.caption}">
                    <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
                        <p class="mb-0">{slide.caption}</p>
                    </div>
                </f:if>
            </div>
        </f:for>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>